@import '../../Styles/Variables.scss';

.Feed{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    label{
        font-size: 24px;
        margin-bottom: 10px;
    }
    textarea{
        width: 600px;
        height: 300px;
        margin-bottom: 20px;
        padding: 5px;
        font-size: 24px;
        border-radius: 20px;
        outline: none;
    }
    button{
        margin-top: 20px;
        background-color: white;
        color: $main-color;
    }
    .Feed__contentEditable{
        background-color: white;
        outline: none;
        border-radius: 10px;
        color: black;
        padding: 10px;
        width: 500px;
        min-height: 200px;
        max-height: 300px;
        overflow-y: auto;
    }
}