@import '../../Styles/Variables.scss';

.Main{
    display: grid;
    grid-template-columns: 265px 1fr;
    min-height: calc(100vh - 60px);
    &__info{
        
        p{
            font-size: 20px;
            text-align: center;
        }
        
        div{
            display: flex;
            flex-direction: column;
        }
        img{
            display: flex;
            justify-content: center;
            margin: 0 auto;
            height: 200px;
            border-radius: 50%;
            width: 200px;
        }
        .Info__fixed{
            background-color: #0d6efd;
            color: white;
            padding-top: 20px;
            height: calc(100vh - 60px);
            position: fixed;
            width: 265px;
            margin: 0 auto;
            display: flex;
            align-items: center;
        }
        width: 265px;
    }
    
}



.UnAuthorization{
    display: flex;
    height: calc(100vh - 60px);
    justify-content: center;
    align-items: center;
    text-align: center;
}