@import '../../Styles/Variables.scss';

.ListChat{
    &__block{
        overflow: hidden;
        height: 60px;
        
        display: flex;
        font-size: 16px;

        justify-content: space-around;
        padding-left: 20px;
        align-items: center;
        border: solid 1px $main-color;
        background-color:  rgb(105, 156, 252);
        cursor: pointer;
        vertical-align: center;
        a{
            text-decoration: none;
            color: black;
            color: white;
            display: grid;
            grid-template-columns: 70px 1fr;
            width: 100%;
            align-items: center;
            height: 100%;
        }
        &:hover{
            background-color: rgb(136, 174, 243);

        }
    }
    &__img{
        display: flex;
        
    }
    .Img__lastUser{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
    }
    .Img__Creator{
        object-fit: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }
}