@import '../../styles/Variables.scss';

.NewsBlock{
    display: flex;
    flex-direction: column;
    border: 1px solid $main-color;
    min-height: 100px;
    overflow: hidden;
    height: 100%;
    margin: 0 auto;
    border-radius: 20px;
    width: 520px;
    z-index: 0;
    margin-top: 20px;
    background: #f6f6f6;
    div{
        z-index: 0;
    }
    &__text{
        padding: 5px;
        font-size: 18px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .Text__user{
            display: flex;
            align-items: center;
            h3{
                font-size: 18px;
                margin-left: 10px;
            }
            img{
                object-fit: cover;
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
        
    }
    &__content{
        z-index: 0;
        img{
            object-fit: cover;
            height: 500px;
            min-width: 100%;
        }
        video{
            height: 500px;
            max-width: 100%;
            min-width: 100%;
        }
        a{
            display: flex;
            align-items: center;
            margin-top: auto;
            margin-bottom: auto;
            height: 77px;
            border-radius: 50%;
            transition: 0.3s;
            opacity: 0;
            &:hover{
                opacity: 0.5;
                background-color: $main-color;
            }
        }
    }
    .NewsBlock__none{
        display: flex;
        flex-direction: column;
        border: 1px solid $main-color;
        min-height: 100px;
        overflow: hidden;
        height: 100%;
        margin: 0 auto;
        border-radius: 20px;
        width: 520px;
        z-index: 0;
        margin-top: 20px;
        background: #f6f6f6;
    div{
        z-index: 0;
    }
    }
}

.News__Ref{
    display: flex;
   justify-content: center;
   align-items: center;
    div{
        color: white;
        border: 1px solid $main-color;
        width: 200px;
        height: 30px;
        display: flex;
        background-color: $main-color;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
   
}
.News__Update{
    display: flex;
   justify-content: center;
   align-items: center;
    div{
        color: white;
        cursor: pointer;
        border: 1px solid $main-color;
        width: 200px;
        height: 30px;
        display: flex;
        background-color: $main-color;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        &:hover{
            background: #3b89ff;
        }
    }}